body {
    font-family: 'Arial', sans-serif;
    flex-wrap: wrap;
}

header.jumbotron {
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.sticky-top {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1030; /* Make sure it appears above other content */
}

.navbar {
    margin-bottom: 20px;
    background-color: #26293B;
}

.navbar-brand span {
    color: orange;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-toggler {
    border-color: white; /* Border color of the toggler button */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* This SVG replaces the default one with a white-colored icon */
}

/* Navbar Link Colors */
.navbar-nav .nav-link {
    color: white !important;
    transition: background-color 0.3s, color 0.3s;
}

/* Change Background and Text Color on Hover */
.navbar-nav .nav-item:hover {
    background-color: #26293B;
    color: #86660d; /* Darker shade of your navbar color */
}

.navbar-nav .nav-item:hover .nav-link {
    color: #e6aa05 !important; /* Light gray text color on hover */
}


.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
}

.card-image img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-details {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.card-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    text-align: right;
}

.comments {
    font-size: 14px;
    color: #777;
}

.top-bar {
    width: 100%;
    background-color: #4a4a8a;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-bar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

footer {
    margin-top: 800px;
    background-color: #26293B;
}

#footer-h5 {
    color: orange;
}
