<footer class="text-white pt-5">
  <div class="container">
      <div class="row">
          <!-- PCPP Section -->
          <div class="col-md-3">
              <h5 id="footer-h5">PCPS</h5>
              <hr>
              <ul class="list-unstyled">
                  <li><a href="http://127.0.0.1:5501/build.html" class="text-white">Build</a></li>
                  <li><a href="http://127.0.0.1:5501/products.html" class="text-white">Products</a></li>
                  <li><a href="http://127.0.0.1:5501/guide.html" class="text-white">Guide</a></li>
              </ul>
          </div>
          <!-- Account Section -->
          <div class="col-md-3">
              <h5 id="footer-h5">Account</h5>
              <hr>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Log In</a></li>
                  <li><a href="#" class="text-white">Register</a></li>
              </ul>
          </div>
          <!-- Company Section -->
          <div class="col-md-3">
              <h5 id="footer-h5">Company</h5>
              <hr>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Privacy Policy</a></li>
                  <li><a href="#" class="text-white">Terms of Service</a></li>
              </ul>
          </div>
          <!-- Information Section -->
          <div class="col-md-3">
              <h5 id="footer-h5">Information</h5>
              <hr>
              <ul class="list-unstyled">
                  <li><a href="http://127.0.0.1:5501/about.html" class="text-white">About</a></li>
                  <li><a href="http://127.0.0.1:5501/contact.html" class="text-white">Contact</a></li>
              </ul>
          </div>
      </div>
      <hr>
      <div class="text-center mt-4">
          <p>&copy; 2024 PC Parts Store. All rights reserved.</p>
      </div>
  </div>
</footer>