<footer class="text-white pt-5 m-0">
  <div class="container">
      <div class="row">
          <div class="col-md-3 mb-4">
              <h5 id="footer-h5">PCPS</h5>
              <hr>
              <ul class="list-unstyled">
                  <li><a href="build.html" class="text-white">Build</a></li>
                  <li><a href="products.html" class="text-white">Products</a></li>
                  <li><a href="guide.html" class="text-white">Guide</a></li>
              </ul>
          </div>
          <div class="col-md-3 mb-4">
              <h5 id="footer-h5">Account</h5>
              <hr>
              <ul class="list-unstyled">
                  <li><a href="components/loginPage.html" class="text-white">Log In</a></li>
                  <li><a href="components/register.html" class="text-white">Register</a></li>
              </ul>
          </div>
          <div class="col-md-3 mb-4">
              <h5 id="footer-h5">Company</h5>
              <hr>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Privacy Policy</a></li>
                  <li><a href="#" class="text-white">Terms of Service</a></li>
              </ul>
          </div>
          <div class="col-md-3 mb-4">
              <h5 id="footer-h5">Information</h5>
              <hr>
              <ul class="list-unstyled">
                  <li><a href="about.html" class="text-white">About</a></li>
                  <li><a href="contact.html" class="text-white">Contact</a></li>
                  <li><a href="https://github.com/HoeumSenghun/instinct-final-project" class="text-white">Git Hub</a></li>
              </ul>
          </div>
      </div>
      <hr>
      <div class="text-center mt-4">
          <p>&copy; 2024 PC Parts Store. All rights reserved.</p>
      </div>
  </div>
</footer>
