<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="index.html">
    <img src="../img/pc-part-store.png" style="height: 45px; margin-right: 10px;">
    <span>PC Parts Store</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="build.html">Build</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="products.html">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="guide.html">Guide</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="contact.html">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="about.html">About</a>
      </li>
    </ul>
  </div>
</nav>

  